.transactionHistory {
  max-width: 1100px;
  width: 100%;
  margin: 50px auto 150px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;

  background-color: #fff;
  border-collapse: collapse;
}

.thead {
  background-color: #6abbd2;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

/* .thead > .tr > .th:nth-child(2){
    border: 1px solid red;
} */

.th {
  padding: 20px 0;
  width: 33%;
}
