@value primary-color from '../../vars.module.css';

.section {
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}

.title {
  text-transform: uppercase;
  color: primary-color;
  text-align: center;
  padding: 30px;
}
